# tasks file
---
- name: reset root password | flush privileges
  command: >
    mysql --defaults-file=/etc/mysql/debian.cnf --database=mysql -e "FLUSH PRIVILEGES;"
  changed_when: false
  tags:
    - percona-server-tools-reset-root-password-lt-57-flush-privileges

- name: reset root password | login as debian-sys-maint and reset root password
  command: >
    mysql \
      --defaults-file=/etc/mysql/debian.cnf \
      --database=mysql \
      -e "UPDATE `user` SET `Password` = PASSWORD('{{ percona_server_tools_reset_root_password.root_password }}') WHERE `User` = 'root'; SELECT ROW_COUNT();" \
      --skip-column-names
  register: _rows_affected
  changed_when: "_rows_affected.stdout != '0'"
  tags:
    - percona-server-tools-reset-root-password-lt-57-update-password

- name: reset root password | flush privileges
  command: >
    mysql --defaults-file=/etc/mysql/debian.cnf --database=mysql -e "FLUSH PRIVILEGES;"
  changed_when: false
  tags:
    - percona-server-tools-reset-root-password-lt-57-flush-privileges
