# tasks file
---
- name: setup slave replication | check service
  service:
    name: mysql
    state: started
  tags:
    - percona-server-tools-setup-slave-replication-check-service

- name: setup slave replication | remove (backup) directory
  file:
    path: "{{ percona_server_tools_setup_slave_replication.innobackupex.backup_dir }}"
    state: absent
  when: inventory_hostname == percona_server_tools_setup_slave_replication.inventory.master
  tags:
    - percona-server-tools-setup-slave-replication-remove-backup-directory

- name: setup slave replication | make a backup
  shell: >
    ulimit -n {{ percona_server_tools_ulimit }} && \
    innobackupex \
      --no-timestamp \
      {% if percona_server_tools_setup_slave_replication.innobackupex.user is defined %}--user={{ percona_server_tools_setup_slave_replication.innobackupex.user }}{% endif %} \
      {% if percona_server_tools_setup_slave_replication.innobackupex.password is defined %}--password='{{ percona_server_tools_setup_slave_replication.innobackupex.password }}'{% endif %} \
      {% if percona_server_tools_setup_slave_replication.innobackupex.parallel is defined and percona_server_tools_setup_slave_replication.innobackupex.parallel > 1 %}--parallel={{ percona_server_tools_setup_slave_replication.innobackupex.parallel }}{% endif %} \
      {% if percona_server_tools_setup_slave_replication.innobackupex.rsync is defined and percona_server_tools_setup_slave_replication.innobackupex.rsync %}--rsync{% endif %} \
      {{ percona_server_tools_setup_slave_replication.innobackupex.backup_dir }}
  register: _make_a_backup
  failed_when: "_make_a_backup.rc != 0 or _make_a_backup.stderr.split('\n')[-1].find('completed OK') == -1"
  when: inventory_hostname == percona_server_tools_setup_slave_replication.inventory.master
  tags:
    - percona-server-tools-setup-slave-replication-make-a-backup

- name: setup slave replication | prepare the backup
  shell: >
    ulimit -n {{ percona_server_tools_ulimit }} && \
    innobackupex \
      --apply-log \
      {% if percona_server_tools_setup_slave_replication.innobackupex.user is defined %}--user={{ percona_server_tools_setup_slave_replication.innobackupex.user }}{% endif %} \
      {% if percona_server_tools_setup_slave_replication.innobackupex.password is defined %}--password='{{ percona_server_tools_setup_slave_replication.innobackupex.password }}'{% endif %} \
      {% if percona_server_tools_setup_slave_replication.innobackupex.use_memory is defined %}--use-memory={{ percona_server_tools_setup_slave_replication.innobackupex.use_memory }}{% endif %} \
      {{ percona_server_tools_setup_slave_replication.innobackupex.backup_dir }}
  register: _prepare_a_backup
  failed_when: "_prepare_a_backup.rc != 0 or _prepare_a_backup.stderr.split('\n')[-1].find('completed OK') == -1"
  when: inventory_hostname == percona_server_tools_setup_slave_replication.inventory.master
  tags:
    - percona-server-tools-setup-slave-replication-prepare-the-backup

- name: setup slave replication | get datadir
  mysql_variables:
    variable: datadir
  register: _datadir_value
  when: inventory_hostname in percona_server_tools_setup_slave_replication.inventory.slaves
  tags:
    - percona-server-tools-setup-slave-replication-get-datadir

- name: setup slave replication | set datadir
  set_fact:
    percona_server_tools_datadir: "{{ _datadir_value.msg }}"
  when: inventory_hostname in percona_server_tools_setup_slave_replication.inventory.slaves
  tags:
    - percona-server-tools-setup-slave-replication-set-datadir

- name: setup slave replication | stop slave
  mysql_replication:
    mode: stopslave
  when: inventory_hostname in percona_server_tools_setup_slave_replication.inventory.slaves
  tags:
    - percona-server-tools-setup-slave-replication-stop-slave

- name: setup slave replication | reset slave
  mysql_replication:
    mode: resetslaveall
  when: inventory_hostname in percona_server_tools_setup_slave_replication.inventory.slaves
  tags:
    - percona-server-tools-setup-slave-replication-reset-slave

- name: setup slave replication | stop service
  service:
    name: mysql
    state: stopped
  when: inventory_hostname in percona_server_tools_setup_slave_replication.inventory.slaves
  tags:
    - percona-server-tools-setup-slave-replication-stop-service

- name: setup slave replication | purge datadir
  file:
    path: "{{ percona_server_tools_datadir.rstrip('/') }}"
    state: absent
  when: inventory_hostname in percona_server_tools_setup_slave_replication.inventory.slaves
  tags:
    - percona-server-tools-setup-slave-replication-purge-datadir

- name: setup slave replication | pull backup
  command: >
    rsync
    -ai --delete
    -e 'ssh{% if percona_server_tools_setup_slave_replication.ssh_opts is defined %} {{ percona_server_tools_setup_slave_replication.ssh_opts | join(" ") }}{% endif %}'
    {{ percona_server_tools_setup_slave_replication.master.host }}:{{ percona_server_tools_setup_slave_replication.innobackupex.backup_dir }}/
    {{ percona_server_tools_datadir.rstrip('/') }}
  register: _pull_backup
  changed_when: _pull_backup.stdout_lines | length > 0
  when: inventory_hostname in percona_server_tools_setup_slave_replication.inventory.slaves
  tags:
    - percona-server-tools-setup-slave-replication-pull-backup

- name: setup slave replication | set permissions
  file:
    path: "{{ percona_server_tools_datadir.rstrip('/') }}"
    owner: "{{ percona_server_tools_mysqld_user }}"
    group: "{{ percona_server_tools_mysqld_user }}"
    recurse: true
  when: inventory_hostname in percona_server_tools_setup_slave_replication.inventory.slaves
  tags:
    - percona-server-tools-setup-slave-replication-set-permissions

- name: setup slave replication | stat debian.cnf
  stat:
    path: "{{ percona_server_tools_debian_cnf_file }}"
  register: _stat_debian_cnf
  when: inventory_hostname in percona_server_tools_setup_slave_replication.inventory.slaves
  tags:
    - percona-server-tools-setup-slave-replication-stat-debian.cnf

- name: setup slave replication | pull debian.cnf
  command: >
    rsync
    -ai --checksum --delete
    -e ssh
    {{ percona_server_tools_setup_slave_replication.master.host }}:{{ percona_server_tools_debian_cnf_file }}
    {{ percona_server_tools_debian_cnf_file }}
  register: _pull_debian_cnf
  changed_when: _pull_debian_cnf.stdout_lines | length > 0
  when:
    - inventory_hostname in percona_server_tools_setup_slave_replication.inventory.slaves
    - _stat_debian_cnf.stat.exists
  tags:
    - percona-server-tools-setup-slave-replication-pull-debian.cnf

- name: setup slave replication | start service
  service:
    name: mysql
    state: started
  when: inventory_hostname in percona_server_tools_setup_slave_replication.inventory.slaves
  tags:
    - percona-server-tools-setup-slave-replication-start-service

- name: setup slave replication | get master
  command: >
    cat {{ percona_server_tools_datadir.rstrip('/') }}/xtrabackup_binlog_info
  register: _master_log_information
  changed_when: false
  when: inventory_hostname in percona_server_tools_setup_slave_replication.inventory.slaves
  tags:
    - percona-server-tools-setup-slave-replication-get-master

- name: setup slave replication | change master
  mysql_replication:
    mode: changemaster
    master_host: "{{ percona_server_tools_setup_slave_replication.master.host }}"
    master_user: "{{ percona_server_tools_setup_slave_replication.master.user }}"
    master_password: "{{ percona_server_tools_setup_slave_replication.master.password }}"
    master_log_file: "{{ _master_log_information.stdout.split()[0] }}"
    master_log_pos: "{{ _master_log_information.stdout.split()[1] }}"
  when: inventory_hostname in percona_server_tools_setup_slave_replication.inventory.slaves
  tags:
    - percona-server-tools-setup-slave-replication-change-master

- name: setup slave replication | start slave
  mysql_replication:
    mode: startslave
  when: inventory_hostname in percona_server_tools_setup_slave_replication.inventory.slaves
  tags:
    - percona-server-tools-setup-slave-replication-start-slave

- name: setup slave replication | get slave
  mysql_replication:
    mode: getslave
  register: _slave_information
  when: inventory_hostname in percona_server_tools_setup_slave_replication.inventory.slaves
  failed_when: _slave_information.Slave_IO_Running != 'Yes' or _slave_information.Slave_SQL_Running != 'Yes'
  tags:
    - percona-server-tools-setup-slave-replication-get-slave
