# tasks file
---
- name: setup slave replication gtid | check service
  ansible.builtin.service:
    name: mysql
    state: started
  tags:
    - percona-server-tools-setup-slave-replication-gtid-check-service

- name: setup slave replication gtid | remove (backup) directory
  ansible.builtin.file:
    path: "{{ percona_server_tools_setup_slave_replication_gtid.innobackupex.backup_dir }}"
    state: absent
  when: inventory_hostname == percona_server_tools_setup_slave_replication_gtid.inventory.master
  tags:
    - percona-server-tools-setup-slave-replication-gtid-remove-backup-directory

- name: setup slave replication gtid | make a backup
  ansible.builtin.shell: >
    ulimit -n {{ percona_server_tools_ulimit }} && \
    innobackupex \
      --no-timestamp \
      {% if percona_server_tools_setup_slave_replication_gtid.innobackupex.user is defined %}--user={{ percona_server_tools_setup_slave_replication_gtid.innobackupex.user }}{% endif %} \
      {% if percona_server_tools_setup_slave_replication_gtid.innobackupex.password is defined %}--password='{{ percona_server_tools_setup_slave_replication_gtid.innobackupex.password }}'{% endif %} \
      {% if percona_server_tools_setup_slave_replication_gtid.innobackupex.parallel is defined and percona_server_tools_setup_slave_replication_gtid.innobackupex.parallel > 1 %}--parallel={{ percona_server_tools_setup_slave_replication_gtid.innobackupex.parallel }}{% endif %} \
      {% if percona_server_tools_setup_slave_replication_gtid.innobackupex.rsync is defined and percona_server_tools_setup_slave_replication_gtid.innobackupex.rsync %}--rsync{% endif %} \
      {{ percona_server_tools_setup_slave_replication_gtid.innobackupex.backup_dir }}
  register: _make_a_backup
  failed_when: "_make_a_backup.rc != 0 or _make_a_backup.stderr.split('\n')[-1].find('completed OK') == -1"
  changed_when: true
  when: inventory_hostname == percona_server_tools_setup_slave_replication_gtid.inventory.master
  tags:
    - percona-server-tools-setup-slave-replication-gtid-make-a-backup

- name: setup slave replication gtid | prepare the backup
  ansible.builtin.shell: >
    ulimit -n {{ percona_server_tools_ulimit }} && \
    innobackupex \
      --apply-log \
      {% if percona_server_tools_setup_slave_replication_gtid.innobackupex.user is defined %}--user={{ percona_server_tools_setup_slave_replication_gtid.innobackupex.user }}{% endif %} \
      {% if percona_server_tools_setup_slave_replication_gtid.innobackupex.password is defined %}--password='{{ percona_server_tools_setup_slave_replication_gtid.innobackupex.password }}'{% endif %} \
      {% if percona_server_tools_setup_slave_replication_gtid.innobackupex.use_memory is defined %}--use-memory={{ percona_server_tools_setup_slave_replication_gtid.innobackupex.use_memory }}{% endif %} \
      {{ percona_server_tools_setup_slave_replication_gtid.innobackupex.backup_dir }}
  register: _prepare_a_backup
  failed_when: "_prepare_a_backup.rc != 0 or _prepare_a_backup.stderr.split('\n')[-1].find('completed OK') == -1"
  changed_when: true
  when: inventory_hostname == percona_server_tools_setup_slave_replication_gtid.inventory.master
  tags:
    - percona-server-tools-setup-slave-replication-gtid-prepare-the-backup

- name: setup slave replication gtid | get datadir
  community.mysql.mysql_variables:
    variable: datadir
  register: _datadir_value
  when: inventory_hostname in percona_server_tools_setup_slave_replication_gtid.inventory.slaves
  tags:
    - percona-server-tools-setup-slave-replication-gtid-get-datadir

- name: setup slave replication gtid | set datadir
  ansible.builtin.set_fact:
    percona_server_tools_datadir: "{{ _datadir_value.msg }}"
  when: inventory_hostname in percona_server_tools_setup_slave_replication_gtid.inventory.slaves
  tags:
    - percona-server-tools-setup-slave-replication-gtid-set-datadir

- name: setup slave replication gtid | stop slave
  community.mysql.mysql_replication:
    mode: stopslave
  when: inventory_hostname in percona_server_tools_setup_slave_replication_gtid.inventory.slaves
  tags:
    - percona-server-tools-setup-slave-replication-gtid-stop-slave

- name: setup slave replication gtid | reset slave
  community.mysql.mysql_replication:
    mode: resetslaveall
  when: inventory_hostname in percona_server_tools_setup_slave_replication_gtid.inventory.slaves
  tags:
    - percona-server-tools-setup-slave-replication-gtid-reset-slave

- name: setup slave replication gtid | stop service
  ansible.builtin.service:
    name: mysql
    state: stopped
  when: inventory_hostname in percona_server_tools_setup_slave_replication_gtid.inventory.slaves
  tags:
    - percona-server-tools-setup-slave-replication-gtid-stop-service

- name: setup slave replication gtid | purge datadir
  ansible.builtin.file:
    path: "{{ percona_server_tools_datadir.rstrip('/') }}"
    state: absent
  when: inventory_hostname in percona_server_tools_setup_slave_replication_gtid.inventory.slaves
  tags:
    - percona-server-tools-setup-slave-replication-gtid-purge-datadir

- name: setup slave replication gtid | pull backup  # noqa command-instead-of-module
  ansible.builtin.command: >
    rsync
    -ai --delete
    -e 'ssh{% if percona_server_tools_setup_slave_replication_gtid.ssh_opts is defined %} {{ percona_server_tools_setup_slave_replication_gtid.ssh_opts | join(" ") }}{% endif %}'
    {{ percona_server_tools_setup_slave_replication_gtid.master.host }}:{{ percona_server_tools_setup_slave_replication_gtid.innobackupex.backup_dir }}/
    {{ percona_server_tools_datadir.rstrip('/') }}
  register: _pull_backup
  changed_when: _pull_backup.stdout_lines | length > 0
  when: inventory_hostname in percona_server_tools_setup_slave_replication_gtid.inventory.slaves
  tags:
    - percona-server-tools-setup-slave-replication-gtid-pull-backup

- name: setup slave replication gtid | set permissions
  ansible.builtin.file:
    path: "{{ percona_server_tools_datadir.rstrip('/') }}"
    owner: "{{ percona_server_tools_mysqld_user }}"
    group: "{{ percona_server_tools_mysqld_user }}"
    recurse: true
  when: inventory_hostname in percona_server_tools_setup_slave_replication_gtid.inventory.slaves
  tags:
    - percona-server-tools-setup-slave-replication-gtid-set-permissions

- name: setup slave replication gtid | stat debian.cnf
  ansible.builtin.stat:
    path: "{{ percona_server_tools_debian_cnf_file }}"
  register: _stat_debian_cnf
  when: inventory_hostname in percona_server_tools_setup_slave_replication_gtid.inventory.slaves
  tags:
    - percona-server-tools-setup-slave-replication-gtid-stat-debian.cnf

- name: setup slave replication gtid | pull debian.cnf  # noqa command-instead-of-module
  ansible.builtin.command: >
    rsync
    -ai --checksum --delete
    -e ssh
    {{ percona_server_tools_setup_slave_replication_gtid.master.host }}:{{ percona_server_tools_debian_cnf_file }}
    {{ percona_server_tools_debian_cnf_file }}
  register: _pull_debian_cnf
  changed_when: _pull_debian_cnf.stdout_lines | length > 0
  when:
    - inventory_hostname in percona_server_tools_setup_slave_replication_gtid.inventory.slaves
    - _stat_debian_cnf.stat.exists
  tags:
    - percona-server-tools-setup-slave-replication-gtid-pull-debian.cnf

- name: setup slave replication gtid | start service
  ansible.builtin.service:
    name: mysql
    state: started
  when: inventory_hostname in percona_server_tools_setup_slave_replication_gtid.inventory.slaves
  tags:
    - percona-server-tools-setup-slave-replication-gtid-start-service

- name: setup slave replication gtid | set offline_mode to 1 (online)
  community.mysql.mysql_variables:
    variable: offline_mode
    value: '0'
  when: inventory_hostname in percona_server_tools_setup_slave_replication_gtid.inventory.slaves
  tags:
    - percona-server-tools-setup-slave-replication-gtid-set-offline_mode

- name: setup slave replication gtid | get master
  ansible.builtin.command: >
    cat {{ percona_server_tools_datadir.rstrip('/') }}/xtrabackup_binlog_info
  register: _master_log_information
  changed_when: false
  when: inventory_hostname in percona_server_tools_setup_slave_replication_gtid.inventory.slaves
  tags:
    - percona-server-tools-setup-slave-replication-gtid-get-master

- name: setup slave replication gtid | reset master
  ansible.builtin.command: >
    mysql
    -e "RESET MASTER;"
    --skip-column-names
  when:
    - inventory_hostname in percona_server_tools_setup_slave_replication_gtid.inventory.slaves
    - _master_log_information.stdout.split() | length > 2
  tags:
    - percona-server-tools-setup-slave-replication-gtid-reset-master

- name: setup slave replication gtid | set gtid_purged
  ansible.builtin.command: >
    mysql
    -e "SET GLOBAL gtid_purged='{{ _master_log_information.stdout.split()[2] }}';"
    --skip-column-names
  register: _set_gtid_purged
  when:
    - inventory_hostname in percona_server_tools_setup_slave_replication_gtid.inventory.slaves
    - _master_log_information.stdout.split() | length > 2
  tags:
    - percona-server-tools-setup-slave-replication-gtid-set-gtid-purged

- name: setup slave replication gtid | change master
  community.mysql.mysql_replication:
    mode: changemaster
    master_host: "{{ percona_server_tools_setup_slave_replication_gtid.master.host }}"
    master_user: "{{ percona_server_tools_setup_slave_replication_gtid.master.user }}"
    master_password: "{{ percona_server_tools_setup_slave_replication_gtid.master.password }}"
    master_auto_position: true
  when: inventory_hostname in percona_server_tools_setup_slave_replication_gtid.inventory.slaves
  tags:
    - percona-server-tools-setup-slave-replication-gtid-change-master

- name: setup slave replication gtid | start slave
  community.mysql.mysql_replication:
    mode: startslave
  when: inventory_hostname in percona_server_tools_setup_slave_replication_gtid.inventory.slaves
  tags:
    - percona-server-tools-setup-slave-replication-gtid-start-slave

- name: setup slave replication gtid | get slave
  community.mysql.mysql_replication:
    mode: getslave
  register: _slave_information
  when: inventory_hostname in percona_server_tools_setup_slave_replication_gtid.inventory.slaves
  failed_when: _slave_information.Slave_IO_Running != 'Yes' or _slave_information.Slave_SQL_Running != 'Yes'
  tags:
    - percona-server-tools-setup-slave-replication-gtid-get-slave
